html,
body,
.view {
  height: 100%;
}

.carousel,
.carousel-item,
.carousel-item.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}

body {
  overflow: hidden;
}
h1 {
  font-weight: bold;
  font-size: 100px;
}

h2 {
  font-weight: bold;
  font-size: 50px;
}

.description {
  font-size: 20px;
}
.darkText {
  color: #373a40;
}

.blackText {
  color: black;
}

.darkMode {
  background-color: black;
  color: white;
}

.darkModeBtn {
  position: absolute;
  right: 3%;
  margin-top: 23%;
}

.languageBtn {
  position: absolute;
  right: 7%;
  margin-top: 50%;
}

.languageBtnMain {
  position: absolute;
  right: 15%;
  margin-top: 23%;
}

.languageBtnMain_kor {
  position: absolute;
  right: 15.5%;
  margin-top: 23%;
}

.planList {
  position: absolute;
  left: 7%;
  font-size: 16px;
}
